{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="choicelog.css">
</head>
<body>
    <script>
        function redirect(page) {
          window.location.href = page;
        }
        </script>
    <div class="container">
        <div class="card"onclick="redirect('login.html')">
            <p class="heading">
              I am Student
            </p>
            <p>
              Login
            </p>
        </div>
        <div class="card"onclick="redirect('login.html')">
            <!-- Second card content here -->
            <p class="heading">
                I am Teacher
              </p>
              <p>
                Login
              </p>

        </div>
        <div class="card"onclick="redirect('login.html')">
            <!-- Third card content here -->
            <p class="heading">
                I am Parent
              </p>
              <p>
                Login
              </p>
      
        </div>
    </div>
</body>
</html>

