{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Register</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/logincss.css' %}">
</head>
<body style="display:flex; align-items:center; justify-content:center;">
<div class="login-page">
  <div class="form">
    <form class="register-form" action="teacher_register" method="POST">
      <h2>Register</h2>
      <input type="email" placeholder="Email *" name="email_id" required/>
      <input type="password" placeholder="Password *" name="password" required/>
      <input type="password" placeholder="Confirm Password *" name="password1" required/>
      <a class="btn" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Create
      </a>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form" action="teacher_login" method="post">
      <h2></i> Login</h2>
      <input type="text" placeholder="Username" required />
      <input type="password" placeholder="Password" required/>
      <a class="btn" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Sign in
      </a>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="loginjs.js"></script>
</body>
</html>